openapi: 3.2.0
info:
  title: Qorevia Market Intelligence Club API
  version: 2.0.0
  description: Agent-payable market intelligence, data profiling and deterministic utility tools.
  x-guidance: Use these tools for market/session/risk/backtest context and local data profiling. Paid routes use HTTP 402/x402 and settle USDC directly to the provider wallet.
servers:
- url: https://api.flowhomes.eu
tags:
- name: Club
paths:
  /api/club:
    get:
      summary: Qorevia Founders Network manifest and tiers
      parameters:
      - name: ref
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Club manifest
      tags:
      - Club
      operationId: getApiClub
      x-operation-id-source: derived
  /api/club/status:
    get:
      summary: Read verified Qorevia membership status for a public EVM address
      parameters:
      - name: wallet
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Membership status
      tags:
      - Club
      operationId: getApiClubStatus
      x-operation-id-source: derived
  /api/club/referral/create:
    post:
      summary: Create deterministic non-custodial referral attribution code for a public wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet:
                  type: string
              required:
              - wallet
      responses:
        '200':
          description: Referral code and share links
      tags:
      - Club
      operationId: postApiClubReferralCreate
      x-operation-id-source: derived
  /api/club/referral/{code}:
    get:
      summary: Read referral conversion status
      parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Referral status
      tags:
      - Club
      operationId: getApiClubReferralByCode
      x-operation-id-source: derived
  /api/club/lounge:
    get:
      summary: Read capped self-declared Qorevia Afterhours agent lounge
      responses:
        '200':
          description: Lounge entries
      tags:
      - Club
      operationId: getApiClubLounge
      x-operation-id-source: derived
  /api/club/lounge/check-in:
    post:
      summary: Opt-in structured lounge check-in; does not authenticate wallet ownership
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet:
                  type: string
                agentName:
                  type: string
                role:
                  type: string
                interests:
                  type: array
                  items:
                    type: string
              required:
              - wallet
      responses:
        '200':
          description: Check-in status
      tags:
      - Club
      operationId: postApiClubLoungeCheckIn
      x-operation-id-source: derived
