openapi: 3.2.0
info:
  title: Qorevia Market Intelligence Developer Tools API
  version: 2.0.0
  description: Agent-payable market intelligence, data profiling and deterministic utility tools.
  x-guidance: Use these tools for market/session/risk/backtest context and local data profiling. Paid routes use HTTP 402/x402 and settle USDC directly to the provider wallet.
servers:
- url: https://api.flowhomes.eu
tags:
- name: developer-tools
paths:
  /api/jwt-decode:
    post:
      summary: Decode JWT header and payload without signature verification
      operationId: jwt_decode
      tags:
      - developer-tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
              required:
              - token
            example:
              token: eyJhbGciOiJub25lIn0.eyJzdWIiOiIxMjMifQ.
      responses:
        '200':
          description: Paid response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                header:
                  alg: none
                payload:
                  sub: '123'
                verified: false
        '402':
          description: x402 payment required
        '503':
          description: Upstream market-data source unavailable; payment is not requested for MT5 routes during preflight failure.
      x-payment-info:
        price: '0.002500'
        currency: USDC
        network: eip155:8453
        protocol: x402
  /api/regex-test:
    post:
      summary: Run a supplied JavaScript regular expression against supplied text
      operationId: regex_test
      tags:
      - developer-tools
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pattern:
                  type: string
                flags:
                  type: string
                text:
                  type: string
              required:
              - pattern
              - text
            example:
              pattern: \d+
              flags: g
              text: a12b34
      responses:
        '200':
          description: Paid response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                matched: true
                matches:
                - '12'
                - '34'
        '402':
          description: x402 payment required
        '503':
          description: Upstream market-data source unavailable; payment is not requested for MT5 routes during preflight failure.
      x-payment-info:
        price: '0.003400'
        currency: USDC
        network: eip155:8453
        protocol: x402
