openapi: 3.2.0
info:
  title: Qorevia Market Intelligence Onchain API
  version: 2.0.0
  description: Agent-payable market intelligence, data profiling and deterministic utility tools.
  x-guidance: Use these tools for market/session/risk/backtest context and local data profiling. Paid routes use HTTP 402/x402 and settle USDC directly to the provider wallet.
servers:
- url: https://api.flowhomes.eu
tags:
- name: onchain
paths:
  /api/evm-address-syntax:
    post:
      summary: Validate basic EVM 20-byte hex address syntax
      operationId: evm_address_syntax
      tags:
      - onchain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
              required:
              - address
            example:
              address: '0x0000000000000000000000000000000000000000'
      responses:
        '200':
          description: Paid response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
              example:
                valid: true
        '402':
          description: x402 payment required
        '503':
          description: Upstream market-data source unavailable; payment is not requested for MT5 routes during preflight failure.
      x-payment-info:
        price: '0.010000'
        currency: USDC
        network: eip155:8453
        protocol: x402
